.navbar-header
  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#story-list-navbar', aria-expanded='false')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  nuxt-link.navbar-brand(to="/")    
    img(alt='Brand', src='/neon_logo.png', height="30")