nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    include nav-header 
    // Collect the nav links, forms, and other content for toggling
    include nav-list
     